:root {
    --grey: #909090;
    --purple: #190a49;
    --torch-red: #ff0e3b;
}

.bold {
    font-weight: 800;
}

.subtitle,
.title {
    font-weight: bold;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.subtitle {
    color: var(--grey);
}

.title {
    margin-top: 10px;
    font-size: 3em;
}

.title.title-white {
    color: white;
}

#team .btn,
#pricing .btn {
    outline: none;
    border: none;
    background: #b7aae0;
}

#team .btn:hover,
#pricing .btn:hover {
    background: var(--torch-red);
}


/* Classes */

#team {
    padding: 100px 0;
    background: white !important;
}

section #team {
    padding: 60px 0;
}

section #team .section-title {
    text-align: center;
    color: #3C098D;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: whitesmoke;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #3C098D !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


/* pricing */

section.pricing,
div.pricing {
    /* background: #190a49; */
    /* background: linear-gradient(to right, #190a49, var(--torch-red)) url(../assets/imgs/index.webp); */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 0, 0, 0.57) 70%), url(../assets/imgs/pricing.webp);
    background-size: cover;
    background-position-x: 75%;
    background-blend-mode: soft-light;
    padding: 125px 0;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 1;
    transition: all 0.2s;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}


/* Footer */

.footer {
    background: #190a49;
    padding-top: 100px;
    padding-bottom: 10px;
}

.footer .footer-image-container {
    margin: 25px auto;
    background-color: #0F0432;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center
}

#cool-text {
    max-width: 100%;
}