.motivacional{
    position: absolute;
    width: 60%;
    bottom: 25%;
    left: 10%;
    color: $banner-content-color;
    @include flex-column-right-aligned();
        span{
            text-transform: uppercase;
            flex-shrink: 1;
            font-family: $font-family;
            margin-bottom: 10px;
            letter-spacing: 0.25em;
        }
        .headline{
            font-size: $banner-headline-size;
            font-weight: $banner-content-weight;
            line-height: 1.1em;
            b{
                font-weight: 900;
            }
        }
        .subtext{
            font-weight: bold;
            font-size: $banner-subtext-size;
        }
        button{
            margin-top: 25px;
            font-size: .8em;
            color: $banner-content-color;
            text-transform: uppercase;
            padding: 20px 30px !important;
            width: 200px !important;
            border-radius: 0px;
        }
}

@include media-breakpoint-down(sm) {
    .motivacional {
        width: 75%;
        bottom: 15%;
        left: 5%;
        .headline{
            font-size: 2.5em;
        }
        .subtext{
            font-size: 1em;
        }
        button{
            width:150px !important;
        }
    }
    .carousel{
        .carousel-item{
            height: 85vh;
            background-position-x: 50%;
        } 
    }
}