// .motivacional#visible{
//     visibility: visible;
// }
.motivacional{
    position: absolute;
    width: 75%;
    bottom: 25%;
    left: 10%;
    color: $banner-content-color;
    // visibility: hidden;
    @include flex-column-right-aligned();
        span{
            text-transform: uppercase;
            flex-shrink: 1;
            font-family: $font-family;
            margin-bottom: 10px;
            letter-spacing: 0.25em;
        }
        .headline{
            font-size: $banner-headline-size;
            font-weight: $banner-content-weight;
            line-height: 1.1em;
            b{
                font-weight: 900;
            }
        }
        .subtext{
            font-weight: bold;
            font-size: $banner-subtext-size;
        }
        @import "read-more-button";
}

@include media-breakpoint-down(lg){
    .motivacional{
        width: 50vw;
        .headline{
            font-size: 4em;
        }
        .subtext{
            font-size: 1em;
        }
    }
}
@include media-breakpoint-down(md) {
    .motivacional {
        width: 75vw;
        top: 25vh;
        left: 5%;
        button{
            width:150px !important;
        }
        .headline{
            font-size: 3em;
        }
        .subtext{
            font-size: 1em;
        }
    }
}

@include media-breakpoint-only(xs){
    .motivacional{
        top: 30vh;
    }
}

@include media-breakpoint-down(md){
    .carousel{
        .carousel-item{
            background-position-x: 70%;
        }
    }
}