@mixin flex-column-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flex-column-right-aligned{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}