.read-more-button{
    margin-top: 25px;
    font-size: .8em;
    font-weight: bold;
    color: $banner-content-color;
    text-transform: uppercase;
    padding: 20px 30px !important;
    width: 200px !important;
    border-radius: 0px;
}