$font-family: 'Open Sans', sans-serif;
$banner-content-color: white;
$banner-content-weight: 100;
$banner-headline-size: 4.5em;
$banner-subtext-size: 1em;
$theme-colors: (
  "primary": #0074d9,
  "danger": #FF0E3B,
  "blue": #3C098D,
  "dark-blue": #190A49,
);
